body {
  color: blue;
  background-color: #d77d7d;
  font-size: 50px;
  
}
  img {
    border: 1px solid #ccc;
  }

  style inline { 
    color: #ff0000;
    background-color: #0000ff;
    width: 200px;
    text-align: center;
  }
